.album-container {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
    margin-left: 5px;
    background-color: #190061;
    border-radius: 5px;
  }
  
  .album-container h2 {
    margin-bottom: 5px;
    color: white;
  }
  
  .button-container {
    margin-top: 10px;
  }
  
  .delete-button,
  .details-button {
    padding: 5px 10px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
  }
  
  .delete-button {
    color: red;
    border: none;
  }
  
  .delete-button:hover {
    color: white;
    background-color: #bd2130;
  }
  
  .details-button {
    color: #3500d3;
    border: none;
  }
  
  .details-button:hover {
    background-color: #3500d3;
    color: white;
  }

  .create{
    margin-bottom: 1%;
    margin-left: 1%;
  }
  .create-button{
    margin-left: 1%;
    color:rgb(34, 255, 0);
    border: solid 1px;
    border-color: gray;
  }
  .create-button:hover{
    background-color: rgb(34, 255, 0);
    color: white;
  }