<div class="about-container">
    <h1>About Us</h1>
    <p>Here passion meets creativity in the world of photography!</p>
    <h1>What We Offer</h1>
    <ul>
        <li>
            Community Engagement: Join our diverse community of photographers from around the globe. Share your work, participate in discussions, and connect with like-minded individuals who share your passion for photography.
        </li>
        <li>
            Portfolio Showcase: Showcase your portfolio and gain exposure to a wider audience. Whether you're a seasoned professional or an amateur enthusiast, our platform provides you with the tools and resources to showcase your best work and elevate your online presence.
        </li>
        <li>
            Educational Resources: Access a wealth of educational resources, tutorials, and tips to enhance your photography skills. From mastering the basics to exploring advanced techniques, our platform is your go-to destination for continuous learning and improvement.
        </li>
      </ul>
</div>